[Unit]
Description=An OpenVPN manager through a Telegram bot
After=network.target

[Service]
Type=simple
WorkingDirectory=__WORKDIR__
ExecStart=/usr/bin/python3 __WORKDIR__/main.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
